# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]

# optional space/tab
indent_style = space
# if indent_style is space, this is valid
indent_size = 2
# none/single/double
quote_style = none

# this mean utf8 length , if this is 'unset' then the line width is no longer checked
# this option decides when to chopdown the code
max_line_length = 120

# keep/remove/remove_table_only/remove_string_only
call_arg_parentheses = keep
